{% extends "main.html" %}
{% block title %} Medications {% endblock %} 
{% block body %} 
    {% for med in meds %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Medication</th>
            <th scope="col">Number of times</th>
            <th scope="col">Notes</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
         {% for med in meds %}
          <tr>
            <th scope="row">{{ med.name }}</th>
            <td>{{ med.times }}</td>
            <td>{{ med.notes }}</td>
            <td><a href="{% url 'edit_med' med.id %}"><i class="bi bi-pencil-square"></i></a></td>
            <td><a href="{% url 'delete_med' med.id %}"><i class="bi bi-trash"></i></a></td>
          </tr>
         {% endfor %}
        </tbody>
      </table>
    {% endfor %}
{% endblock %}